<!-- <div style="text-align:center"> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="img-fluid mr-5" src="https://envia.com/assets/images/logo/white-logo.svg?v=1576776366">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Ofertas</a>
      <a class="nav-item nav-link" href="#">Categorias</a>
      <a class="nav-item nav-link" href="#">Ayuda</a>
      <a class="nav-item nav-link disabled" href="#">Historial</a>
    </div>
  </div>
</nav>

<div class="container my-5">
  <div class="row justify-content-end mb-3">
    <div class="col-2">
      <button data-toggle="modal" data-target="#modalAgregar" class="float-right btn btn-success">Agregar</button>
    </div>
  </div>
  <div class="row justify-content-end">

    <div class="col-3">
      <small>Orden de compra: {{ordenCompra}}</small>
    </div>
  </div>
  <div class="row mb-4 align-items-center border-bottom" *ngFor="let item of order">
    <div class="col-2">
      <img [src]="item.imageUrl" class="p-3" alt="imagen del producto">
    </div>
    <div class="col-6">
      <h4>{{ item.name |titlecase  }}</h4>
      <h6>Precio regular :{{item.price | currency}}</h6>
      <small>sku: {{item.sku}}</small>
    </div>

    <div class="col-1">
      <div class="form-group">
        <select class="form-control" name="cantidad" id="cantidad" (change)="calcCosto(item.id, $event.target.value)">
          <option *ngFor="let quan of [].constructor(5); let i=index" [value]="i+1">{{i+1}}</option>
        </select>
      </div>
    </div>

    <div class="col-2 offset-1 price">
      <h4> {{ item.subTotal | currency }}</h4>
    </div>

  </div>

  <div class="row justify-content-end mb-3">
    <div class="col-3">
      <h3>Total : {{ total | currency}}</h3>
    </div>
  </div>
  <div class="row justify-content-end">
    <div class="col-3">
      <button class="btn mb-3 mr-5 btn-outline-warning" (click)="pay()">Continuar Compra</button>
    </div>
  </div>
</div>

<!-- Modal de agregar -->
<div class="modal fade" id="modalAgregar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalAgregarTitulo">Agregar Producto</h5>
        <button type="button" #btnClose class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form #formProduct="ngForm" (ngSubmit)="guardarProduct(formProduct)">
        <div class="modal-body">

          <div class="form-group">
            <label for="name">Nombre de producto</label>
            <input type="text" name="name" class="form-control" [(ngModel)]="producto.name" required>
            <small class="text-danger form-text" id="nameHelp" *ngIf="producto.name">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto, iure.</small>
          </div>
          <div class="form-group">
            <label for="sku">SKU</label>
            <input type="number" name="sku" class="form-control" [(ngModel)]="producto.sku" required>
            <small class="text-danger form-text" id="skuHelp" *ngIf="producto.sku"></small>
          </div>
          <div class="form-group">
            <label for="quantity">Cantidad</label>
            <input type="number" name="quantity" class="form-control" [(ngModel)]="producto.quantity" required>
            <small class="text-danger form-text" id="quantityHelp" *ngIf="producto.quantity"></small>
          </div>
          <div class="form-group">
            <label for="price">Precio</label>
            <input type="number" name="price" class="form-control" [(ngModel)]="producto.price" required>
            <small class="text-danger form-text" id="priceHelp" *ngIf="producto.price"></small>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="submit" class="btn btn-primary" *ngIf="formProduct.valid ; else noValid">Guardar Cambios</button>
          <ng-template #noValid>
            <button  type="submit" class="btn btn-primary" disabled >Guardar Cambios</button>
          </ng-template>
        </div>
      </form>

    </div>
  </div>
</div>


<router-outlet></router-outlet>